@model IEnumerable<Product>
<div class="product-slider multiple-row  slider-border-multiple-row  sb-slick-slider"
     data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 8000,
                            "slidesToShow": 5,
                            "rows":1,
                            "dots":true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} },
                            {"breakpoint":320, "settings": {"slidesToShow": 1} }
                        ]'>
    @for (int i = 0; i < Math.Ceiling((decimal)Model.Count() / 2); i++)
    {
        @foreach (Product product in Model)
        {
            <div class="single-slide">
                <div class="product-card">
                    <div class="product-header">
                        <a href="~/assets/#" class="author">
                            jpple
                        </a>
                        <h3>
                            <a href="~/assets/product-details.html"> @product.Title</a>
                        </h3>
                    </div>
                    <div class="product-card--body">
                        <div class="card-image">
                            <img src="~/assets/image/products/@product.MainImage" alt="">
                            <div class="hover-contents">
                                <a href="~/assets/product-details.html" class="hover-image">
                                    <img src="~/assets/image/products/@product.HoverImage" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="~/assets/cart.html" class="single-btn">
                                        <i class="fas fa-shopping-basket"></i>
                                    </a>
                                    <a href="~/assets/wishlist.html" class="single-btn">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="~/assets/compare.html" class="single-btn">
                                        <i class="fas fa-random"></i>
                                    </a>
                                    <a href="~/assets/#" asp-controller="Product"  asp-action="Modal" asp-route-id="@product.Id" data-toggle="modal" data-target="#quickModal"
                               class="single-btn">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="price-block">
                            @if (product.DiscountedPrice > 0)
                            {
                                <span class="price">£@product.Price</span>
                                <del class="price-old">£@product.DiscountedPrice</del>
                            }
                            else
                            {
                                <span class="price">£@product.Price</span>
                            }
                            @if (product.DiscountedPrice > 0)
                            {
                                <span class="price-discount">@(100 - 100 * (product.DiscountedPrice / product.Price))%</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    
</div>
