@model List<WishlistVM>

<table class="table">
		<thead>
			<tr>
				<th class="pro-thumbnail">Image</th>
				<th class="pro-title">Product</th>
				<th class="pro-price">Price</th>
				<th class="pro-remove">Remove</th>
			</tr>
		</thead>
		<tbody>
		@foreach (WishlistVM wishlistVM in Model)
		{
					<tr>
						<td class="pro-thumbnail">
							<a asp-controller="product" asp-action="detail">
								<img src="~/assets/image/products/@wishlistVM.Image" alt="Product">
							</a>
						</td>
						<td class="pro-title"><a href="#">@wishlistVM.Title</a></td>
						<td class="pro-price"><span>$@wishlistVM.Price</span></td>
						<td class="pro-remove"><a asp-controller="wishlist" asp-action="removewish" asp-route-id="@wishlistVM.Id" class="remove-wish"><i class="far fa-trash-alt"></i></a></td>
					</tr>
		}

		</tbody>
	</table>